In [12]:
import pandas as pd
import pickle
import urllib

In [19]:
# load vocabularies
bidecades_vocabs_counts_df = pickle.load(urllib.request.urlopen("https://github.com/kasev/mops/raw/master/data/bidecades_vocabs_counts_df.pickle"))
bidecades_vocabs_counts_df.head(5)

       1900-1919  1920-1939  1940-1959  1960-1979  1980-1999  2000-2019
man      11218.0     8342.0    24108.0    39199.0    48435.0   100670.0
new      10183.0    10192.0    23469.0    42092.0    97421.0   293457.0
Jesus     9650.0     4911.0    12134.0    23416.0    49765.0   215687.0
et        9325.0    11818.0    20805.0    35969.0    49326.0    73464.0
God       9248.0     6276.0    26328.0    45751.0    99505.0   293240.0

In [20]:
# explore the counts on your own
bidecades_vocabs_counts_df.loc["man"]

1900-1919     11218.0
1920-1939      8342.0
1940-1959     24108.0
1960-1979     39199.0
1980-1999     48435.0
2000-2019    100670.0
Name: man, dtype: float64

In [28]:
# locally
#cooc_dict = pickle.load(open("../data/cooc_dict.pickle", "rb")

urllib.request.urlretrieve("https://github.com/kasev/mops/raw/master/data/cooc_dict.pickle", "temp.pickle")
with open("temp.pickle", "rb") as f:
    cooc_dict = pickle.load(f)

In [29]:
cooc_dict.keys()

dict_keys(['1900-1919', '1920-1939', '1940-1959', '1960-1979', '1980-1999', '2000-2019'])

In [30]:
# transform the matrcices into dataframes (much more memory consuming...)
for bidecade, cooc in cooc_dict.items():
    try:
        cooc_df = pd.DataFrame(cooc.todense())
        cooc_norm_df = cooc_df / cooc_df.max()
        cooc_norm_df.columns = bidecades_vocabs_counts_df.index
        cooc_norm_df.index = bidecades_vocabs_counts_df.index
        cooc_dict[bidecade] = cooc_norm_df
    except:
        pass

In [34]:
cooc_dict["1900-1919"]["Paul"].sort_values(ascending=False)

Paul              1.000000
epistle           0.055488
Apostle           0.035643
letter            0.028799
apostle           0.028537
                    ...
reckon            0.000000
Eliot             0.000000
vase              0.000000
sister            0.000000
responsibility    0.000000
Name: Paul, Length: 4804, dtype: float64

In [35]:
cooc_dict["1980-1999"]["Paul"].sort_values(ascending=False)

Paul        1.000000
letter      0.052684
Apostle     0.025385
use         0.021093
epistle     0.016693
              ...
opposite    0.000000
Simeon      0.000000
withdraw    0.000000
vote        0.000000
less        0.000000
Name: Paul, Length: 4804, dtype: float64

In [43]:
key1 = "Paul"
key2 = "saint"
bidecade = "1900-1919"
cooc_dict[bidecade][key1].sort_values(ascending=False).index.get_loc(key2)

6

In [45]:
def return_tfidf_position(key1, key2, bidecade):
    position = cooc_dict[bidecade][key1].sort_values(ascending=False).index.get_loc(key2)
    return position

In [51]:
key1 = "Paul"
key2 = "saint"
bidecade = "1900-1919"
return_tfidf_position(key1, key2, bidecade)

6

In [47]:
return_tfidf_position("Paul", "apostle", "1940-1959")

7

In [52]:
positions = []
for bidecade in ['1900-1919', '1920-1939', '1940-1959', '1960-1979', '1980-1999',
 '2000-2019']:
    positions.append(return_tfidf_position(key1, key2, bidecade))

In [54]:
def position_by_bidecade(key1, key2):
    positions = []
    for bidecade in ['1900-1919', '1920-1939', '1940-1959', '1960-1979', '1980-1999', '2000-2019']:
        positions.append(return_tfidf_position(key1, key2, bidecade))
    return positions

In [57]:
position_by_bidecade("Paul", "judaism")

[843, 3399, 561, 1353, 1925, 698]

In [58]:
position_by_bidecade("Paul", "apostle")

[4, 5, 7, 5, 5, 5]

In [59]:
position_by_bidecade("Paul", "Apostle")

[2, 1, 1, 2, 2, 1]